<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if data %}
        <p>{{ data.status }}</p>
        <p>{{ data.message }}</p>
        <script>
            window.history.replaceState({}, document.title, "/");
        </script>
    {% endif %}
    HELLO WORLD
    <br>
    
    

    <a href="/login">Login</a>
    <a href="/register">Register</a>
    

</body>
</html>